.helpPage .header {
    text-align: center;
    display: table;
}

.helpPage .title {
    width: 100vw;
    text-align: center;
    font-size: 1.375rem;
}

.helpPage .icon {
    width: 92vw;
    text-align: right;
    margin-right: 13px;
    position: relative;
    bottom: 65px;
    outline: unset;
}

.helpPage .icon:focus {
    outline: unset;
}

.helpPage .image {
    max-width: 94%;
    content: url("/webapp/images/help2.png");
    padding: 0 3%;
}

@media (min-width: 600px) {
    .helpPage .header {
        display: flex;
    }
    .helpPage .title {
        font-size: 1.625rem;
        width: 60vw;
        text-align: right;
    }
    .helpPage .icon {
        width: 36vw;
        margin-right: 0;
        position: unset;
        bottom: unset;
    }
    .helpPage .image {
        width: 768px;
        content: url("/webapp/images/help1.png");
    }
}

@media (min-width: 645px) {
    .helpPage .image {
        height: 768px;
    }
}