/*SAP overwritten styling */

.sapUiBody,
.sapUiView {
    background-color: #fffae6 !important;
    background-image: unset !important;
}

.initialModal .sapUiFormElementLbl {
    padding: 0 !important;
    width: 100% !important;
}

.initialModal .sapUiRespGridSpanL9 {
    width: 100% !important;
    
    
}

.initialModal .sapUiRespGridSpanL4 {
    width: 100%;
    text-align: center;
}

.initialModal .sapUiIcon {
    outline: unset;
}


/* Custom Styling */

.initialModal .modalPage {
    max-width: 95%;
    max-height: 98%;
    margin: 4% auto;
    background-color: #FFFFFF;
    border: groove 1px #000000;
    box-shadow: 0 -1px 3px #888888;
}

.initialModal #__grid0,
.initialModal .cSaveBtn {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.initialModal #__grid0 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.initialModal .cSaveBtn {
    padding: 10px 0;
}

.radioBtn {
    text-align: left;
    width: auto;
}

.radioBtn:focus:before {
    border: unset;
}

.radioBtn .sapMRbBOut {
    background-color: #BFBFBF !important;
}

.radioBtn .sapMRbBOut:hover {
    border-color: #BFBFBF;
}

.sapMRbErr .sapMRbBOut:hover {
    border-color: #e52929;
}

.sapMRbSel .sapMRbBInn {
    background-color: #FFD24D !important;
}

.initialModal .formLabel {
    padding: 15px 0;
    width: 96px;
}

.initialModal .resourceBtn {
    width: 181px !important;
}

.initialModal .resourceBtn .sapMBtnText {
    padding-right: 0;
}

.initialModal .resources {
    text-align: center;
}

.initialModal .help_icon,
.initialModal .help_icon:focus {
    outline: unset;
}

.initialModal .saveBtn {
    font-weight: 900;
}

.radioButtonGroup:focus {
    outline-color: #FFFFFF;
}

@media (min-width: 630px) {
    .initialModal .sapUiFormElementLbl {
        width: 25% !important;
    }
    .initialModal .sapUiRespGridSpanL4 {
        width: 33.33% !important;
    }
    .initialModal .modalPage {
        max-height: 84%;
    }
    .initialModal .radioButtonGroup {
        margin-left: 23%;
    }
    .initialModal .sapUiRespGridSpanL9 {
        width: 75% !important;
    }
}

@media (min-width: 650px) {
    .initialModal .resources {
        text-align: unset;
    }
}

@media (min-width: 768px) {
    .initialModal .modalPage {
        max-width: 610px;
    }
}