/* Custom Styling */

.mainPage {
    background-color: #FFFFFF !important;
}


/*sidebar*/

.mainPage .sidebarPanel,
#__container0--Grid,
.sidebarPanel .sidebarForm {
    background-color: #fffae6 !important;
    background-image: unset !important;
}

.sapMToggleBtnPressed,
:not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive,
span.sapMBtnInner .sapMToggleBtnPressed .sapMBtnIcon,
span.sapMBtnInner .sapMToggleBtnPressed .sapMBtnTransparent>.sapMBtnIcon,
.sapMToggleBtnPressed.sapMBtnTransparent>.sapMBtnIcon {
    background-color: #ffd24d !important;
    border: solid 1px #000000 !important;
    color: #000000 !important;
}

.sapMBtnActive {
    outline-color: #000000 !important;
}

.sapMBtnIcon {
    color: #000000 !important;
}

span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #ffd24d !important;
    border: solid 1px #000000 !important;
    color: #000000 !important;
    text-shadow: none !important;
}


/*floor selector*/

.mainPage .triangle {
    margin-bottom: -4px;
}

.mainPage .rectangle {
    margin-top: -2px;
}

.mainPage .floors {
    text-align: center;
    /*min-width: 85% !important;*/
}

.mainPage .sapMFlexBoxBGTransparent.sapMFlexBoxScroll.sapMFlexItem.sapMFlexItemAlignAuto {
    min-width: 85% !important;
}

.mainPage .sapMSelectListItemBaseSelected {
    background: #ffd24d !important;
}

.mainPage .sapMSelectListItem {
    border: solid 1px #000000;
}

.mainPage .displayNone {
    display: none;
}

.mainPage .displayInherit {
    display: inherit;
}

.sidebarPanel {
    width: auto !important;
    height: 120vh !important;
}

.sidebarPanel h1 {
    text-align: center;
}

.sidebarForm .sapUiRespGrid {
	background-color: unset !important;
}

.meeting label {
    background-color: #FFFFFF;
}

@media (min-width: 600px) {
    .sidebarPanel {
        border-right: solid 1px #000000;
    }
}