/* Custom Styling */

#__xmlview0 {
    background-color: #FFFFFF !important;
}


/*sidebar*/

#__xmlview0 #__panel0,
#__container0--Grid {
    background-color: #fffae6 !important;
    background-image: unset !important;
}


.sapMToggleBtnPressed, 
:not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive , 
span.sapMBtnInner .sapMToggleBtnPressed .sapMBtnIcon,
span.sapMBtnInner .sapMToggleBtnPressed .sapMBtnTransparent>.sapMBtnIcon, 
.sapMToggleBtnPressed.sapMBtnTransparent>.sapMBtnIcon {
    background-color: #ffd24d !important;
    border: solid 1px #000000 !important;
    color: #000000 !important;
}

.sapMBtnActive{
	outline-color: #000000 !important;
}

.sapMBtnIcon {
    color: #000000 !important; 
}

span.sapMBtnInner.sapMBtnEmphasized{
	background-image: none;
    background-color: #ffd24d !important;
    border: solid 1px #000000 !important;
    color: #000000 !important;
    text-shadow: none !important;
}

/*floor selector*/

#__xmlview0 .triangle {
    margin-bottom: -2px;
}

#__xmlview0 .rectangle {
    margin-top: -2px;
}

#__xmlview0 .list-group-item {
    font-size: 1.75rem;
    cursor: pointer;
    border: solid 1px #000000;
    margin-bottom: -3px;
    margin-top: -3px;
}


/*rever isto não está dinamico*/

#__xmlview0 #__vbox1 #__data15 {
    width: 90%;
}

#__xmlview0 #__vbox1 #__data16 {
    width: 90%;
}

#__xmlview0 #__vbox1 #__data17 {
    width: 90%;
}

#__xmlview0 #__vbox1 #__data18 {
    width: 90%;
}

#__xmlview0 #__vbox1 #__data19 {
    width: 90%;
}

#__xmlview0 #__vbox1 #__data20 {
    width: 90%;
}